<!-- 🔄 Loading Spinner -->
<div *ngIf="loading" class="text-center py-10">
  <div class="w-10 h-10 border-4 border-purple-400 border-dashed rounded-full animate-spin mx-auto"></div>
  <p class="mt-2 text-sm text-gray-500">Loading students...</p>
</div>

<div class="bg-white p-6 rounded-lg shadow-lg" *ngIf="!loading">
  <div class="flex flex-col md:flex-row justify-between items-center mb-6 space-y-4 md:space-y-0">
    <h2 class="text-2xl font-semibold text-[#2C2F66]">Students</h2>
    <input 
  type="text"
  [(ngModel)]="searchTerm"
  (ngModelChange)="onSearch()"
  placeholder="Search students..."
  class="p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-[#7F55E0]" 
/>

  </div>

  <!-- Desktop Table -->
  <div class="hidden md:block">
    <table class="w-full table-auto border-collapse">
      <thead>
        <tr class="bg-[#2C2F66] text-white">
          <th class="p-3 text-left rounded-tl-lg">No.</th>
          <th class="p-3 text-left">Student</th>
          <th class="p-3 text-left">Email</th>
          <th class="p-3 text-left rounded-tr-lg">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of filteredStudents; index as i" class="border-b hover:bg-gray-50">
          <td class="p-3">{{ i + 1 }}</td>
          <td class="p-3 flex items-center gap-3">{{ student.user.name }}</td>
          <td class="p-3">{{ student.user.email }}</td>
          <td class="p-3 flex gap-2">
            <!-- <button class="text-gray-500 hover:text-[#7F55E0] text-sm">✏️</button> -->
            <button class="text-red-500 hover:text-[#7F55E0] text-sm" (click)="deleteStudent(student.id)" >🗑️ Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Mobile Cards -->
  <div class="md:hidden grid grid-cols-1 gap-4">
    <div
      *ngFor="let student of filteredStudents; index as i"
      class="bg-gray-100 p-4 rounded-lg shadow-sm"
    >
      <div class="flex justify-between mb-2">
        <span class="text-sm font-semibold text-[#2C2F66]">#{{ i + 1 }}</span>
        <div class="flex gap-2">
          <!-- <button class="text-gray-500 hover:text-[#7F55E0] text-sm">✏️</button> -->
          <button class="text-red-500 hover:text-[#7F55E0] text-sm" (click)="deleteStudent(student.id)" >🗑️ Delete</button>
        </div>
      </div>

      <p class="text-lg font-semibold text-[#2C2F66]">{{ student.user.name }}</p>
      <p class="text-sm text-gray-600 break-words">{{ student.user.email }}</p>
    </div>
  </div>
</div>
