<h1 class="text-[28px] font-extrabold text-center mt-6">Courses</h1>
<section class="flex flex-wrap justify-around gap-12 items-center mt-24 mb-12">
  <div class="w-[250px] flex flex-col gap-3">
    <img
      src="./assets/course1.png"
      alt=""
      class="block mx-auto my-2 rounded-xl w-full"
    />
    <h2 class="pl-3 text-[24px] font-bold">Course 1</h2>
    <p class="pl-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <button
      class="text-[#7F55E0] border border-[#7F55E0] bg-white px-5 py-2 rounded-2xl"
    >
      View Course
    </button>
  </div>
  <div class="w-[250px] flex flex-col gap-3">
    <img
      src="./assets/course1.png"
      alt=""
      class="block mx-auto my-2 rounded-xl w-full"
    />
    <h2 class="pl-3 text-[24px] font-bold">Course 1</h2>
    <p class="pl-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <button
      class="text-[#7F55E0] border border-[#7F55E0] bg-white px-5 py-2 rounded-2xl"
    >
      View Course
    </button>
  </div>
  <div class="w-[250px] flex flex-col gap-3">
    <img
      src="./assets/course1.png"
      alt=""
      class="block mx-auto my-2 rounded-xl w-full"
    />
    <h2 class="pl-3 text-[24px] font-bold">Course 1</h2>
    <p class="pl-3">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <button
      class="text-[#7F55E0] border border-[#7F55E0] bg-white px-5 py-2 rounded-2xl"
    >
      View Course
    </button>
  </div>
</section>
