<div
  class="md:hidden fixed top-[20%]  right-[-10px] z-50 h-[48px] bg-[#7F55E0] text-white px-3 py-2 rounded-full shadow-lg cursor-pointer"
  (click)="toggleSidebar()"
  *ngIf="!sidebarOpen"
  dir="rtl"
></div>

<aside
  dir="rtl"
  class="fixed z-40 top-0 right-0 h-full w-64 bg-[#7F55E0] text-white p-4 shadow-md flex flex-col transition-transform duration-300"
  [class.translate-x-full]="!sidebarOpen && isMobile"
  [class.rounded-lg]="!isMobile"
  [class.md:static]="true"
  [class.md:translate-x-0]="true"
  [class.md:rounded-none]="true"
>
  <div class="md:hidden flex justify-start mb-4">
    <button (click)="toggleSidebar()" class="text-white text-xl font-bold">
      ✖
    </button>
  </div>

  <div class="flex flex-col justify-between flex-1">
    <div>
      <h2 class="text-lg font-semibold mb-6 flex items-center gap-2">
        <span>📊</span> لوحة التحكم
      </h2>
      <nav class="space-y-4">
        <a
          routerLink="dashboard"
          routerLinkActive="bg-[#2C2F66]"
          class="block py-2 px-4 rounded flex items-center gap-2"
        >
          🏠 الرئيسية
        </a>
        <a
          routerLink="courses"
          routerLinkActive="bg-[#2C2F66]"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block py-2 px-4 hover:bg-[#2C2F66] rounded flex items-center gap-2"
        >
          📚 دوراتي
        </a>
        <a
          routerLink="tests"
          routerLinkActive="bg-[#2C2F66]"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block py-2 px-4 hover:bg-[#2C2F66] rounded flex items-center gap-2"
        >
          📝 الواجبات
        </a>
        <a
          routerLink="clubs"
          routerLinkActive="bg-[#2C2F66]"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block py-2 px-4 hover:bg-[#2C2F66] rounded flex items-center gap-2"
        >
          👥 مجموعات الدراسة
        </a>
        <a 
          routerLink="groups" 
          routerLinkActive="bg-[#2C2F66]" 
          class="block py-2 px-4 hover:bg-[#2C2F66] rounded flex items-center gap-2"
        >
          📅 المجموعات المتاحة
        </a>

        <a 
          routerLink="mygroups" 
          routerLinkActive="bg-[#2C2F66]" 
          class="block py-2 px-4 hover:bg-[#2C2F66] rounded flex items-center gap-2"
        >
          ✅ مجموعاتي
        </a>
        <a
          routerLink="exams"
          routerLinkActive="bg-[#2C2F66]"
          [routerLinkActiveOptions]="{ exact: true }"
          class="block py-2 px-4 hover:bg-[#2C2F66] rounded flex items-center gap-2"
        >
          📝 الامتحانات
        </a>
      </nav>
    </div>

    <div class="bg-[#2C2F66] p-4 rounded-lg shadow-lg text-center mt-6">
      <h3 class="text-lg font-semibold mb-2">🤖 روبوت ذكي</h3>
      <p class="text-sm text-gray-300">اسألني أي شيء!</p>
      <a
        routerLink="ai"
        class="mt-3 w-full bg-[#7F55E0] py-2 rounded-lg hover:bg-[#6A44C0] block"
      >
        بدء المحادثة
      </a>
    </div>
  </div>
</aside>
