<nav class=" flex gap-6 items-center" dir="rtl">
    <section class="flex gap-5">
        <a routerLink="register" class="text-[#7F55E0] border border-[#7F55E0] bg-white px-5 py-2 rounded-2xl" >اشترك</a>
        <a routerLink="login" class=" bg-[#7F55E0] text-white px-5 py-2 rounded-2xl ">تسجيل دخول</a>
    </section>
    <section class="flex gap-4">
    <div class="hover:border-b-2 pb-2 hover:pb-0 hover:text-[#7F55E0] border-[#7F55E0] border-opacity-100"> <a class="pb-2" href="">الصفحة الرئيسية</a> </div>
    <div class="hover:border-b-2 pb-2 hover:pb-0 hover:text-[#7F55E0] border-[#7F55E0] border-opacity-100"> <a class="pb-2" href="">  الدورات</a> </div>
    <div class="hover:border-b-2 pb-2 hover:pb-0 hover:text-[#7F55E0] border-[#7F55E0] border-opacity-100"> <a class="pb-2" href="">المدرسين </a> </div>
    <div class="hover:border-b-2 pb-2 hover:pb-0 hover:text-[#7F55E0] border-[#7F55E0] border-opacity-100"> <a class="pb-2" href="">من نحن </a> </div>
    <div class="hover:border-b-2 pb-2 hover:pb-0 hover:text-[#7F55E0] border-[#7F55E0] border-opacity-100"> <a class="pb-2" href="">تواصل معنا </a> </div>
    </section>
</nav>
